
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.bak
*.tmp

# IDE
.vscode/
.idea/
*.iml

# Testing
.coverage
*.egg-info/
*.pytest_cache/

# Secrets
.env
